.adddd-button {
  background-color: #caa35b;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
  min-width: 105px;
  min-height: 40px;
}

.adddd-button:hover {
  background-color: #b5d331;
  color: #222;
  transform: scale(1.05);
}

.adddd-button:active {
  background-color: #62a8c4;
  color: #000;
  transform: scale(0.97);
}

@media (max-width: 600px) {
  .adddd-button {
    width: 100%;
    font-size: 14px;
    padding: 12px;
  }
}

.dtls-btn {
  background-color: #4fbd61;
  color: #333;

  width: auto;
  max-width: 90px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dtls-btn:hover {
  background-color: #bdbd77;
  color: #000;
  transform: scale(1.05);
}

.dtls-btn:active {
  background-color: #383f1b;
  color: #000;
  transform: scale(0.97);
}

@media (max-width: 600px) {
  .dtls-btn {
    font-size: 14px;
    padding: 12px;
  }
}

.wshlst-btn {
  background-color: #deded1;
  color: #d62828;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wshlst-btn:hover {
  background-color: #fbf3d1;
  color: #a4161a;
  transform: scale(1.05);
}

.wshlst-btn:active {
  background-color: #c5c7bc;
  color: #000;
  transform: scale(0.97);
}

@media (max-width: 600px) {
  .wshlst-btn {
    width: 100%;
    font-size: 14px;
    padding: 12px;
  }
}
