/*---------- Login Stles -------------*/
.login-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.login-box {
  background-color: #ffffff;
  padding: 30px 25px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  outline: none;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #6c63ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #574de8;
}

.extra-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.link-btn {
  background: none;
  border: none;
  color: #6c63ff;
  font-size: 14px;
  cursor: pointer;
}

.link-btn:hover {
  text-decoration: underline;
}

.register-btn {
  color: #00bcd4;
}

/*------------ Forgot password ------------*/

.forgot-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.forgot-box {
  background-color: #ffffff;
  padding: 30px 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.forgot-box h2 {
  margin-bottom: 10px;
  color: #333;
}

.forgot-text {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.reset-btn {
  width: 100%;
  padding: 10px;
  background-color: #00bcd4;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #009bb0;
}

.back-link {
  margin-top: 15px;
}

.back-link a {
  text-decoration: none;
  color: #6c63ff;
  font-size: 14px;
}

.back-link a:hover {
  text-decoration: underline;
}

/*---------- Register Page -----------*/

.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.register-box {
  background-color: #ffffff;
  padding: 30px 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.register-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #6c63ff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #574de8;
}

.back-link {
  margin-top: 15px;
}

.back-link a {
  text-decoration: none;
  color: #00bcd4;
  font-size: 14px;
}

.back-link a:hover {
  text-decoration: underline;
}
