@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px #000000;
  }
}
